
/* UIUX */

.border1{

	position: absolute;
	left: 0%;
	top: 13.54%;
	width: 91.6%;
	height: 62%;
	right: auto;
	bottom: auto;

	border: 13px solid rgb(55, 104, 144);
	
	left: 1%;
}

.card1 {
	
	position: absolute;
	left: 13.77%;
	top: 19.3%;
	width: 72.5%;
	height: 54%;
	right: auto;
	bottom: auto;
	cursor: pointer;
	background-size: 200%;
	background-image: url("images/UI-UX both-for home page.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;

}
   /* ICONS */
.border2{

	position: absolute;
	left: 0%;
	top: 89%;
	width: 91.6%;
	height: 62%;
	right: auto;
	bottom: auto;

	border: 13px solid rgb(55, 104, 144);
	
	left: 1%;
}

.card2 {
	position: absolute;
	left: 0%;
	top: 32%;
	width: 100%;
	height: 46.8%;
	right: auto;
	bottom: auto;
	cursor: pointer;
	background-size: 110%;
	background-image: url("images/ICON-ani.svg");
	background-position: 50% 0%;
	background-repeat: no-repeat;

}
   /* APPS */


.border3{

	position: absolute;
	left: 0%;
	top: 165.82%;
	width: 91.6%;
	height: 62%;
	right: auto;
	bottom: auto;

	border: 13px solid rgb(55, 104, 144);
	
	left: 1%;
}

.card3 {
	position: absolute;
	left: 9.9%;
	top: 32%;
	width: 80%;
	height: 46.8%;
	right: auto;
	bottom: auto;
	cursor: pointer;
	background-size: 160%;
	background-image: url("images/animte-apps-section.svg");
	background-position: 58% 0%;
	background-repeat: no-repeat;

}

/* Motion */

.border4{

	position: absolute;
	left: 0%;
	top: 241.82%;
	width: 91.6%;
	height: 62%;
	right: auto;
	bottom: auto;

	border: 13px solid rgb(55, 104, 144);
	
	left: 1%;
}

.card4 {
	position: absolute;
	left: -6%;
	top: 24%;
	width: 101%;
	height: 52.15%;
	right: auto;
	bottom: auto;
	cursor: pointer;
	background-size: 120%;
	background-image: url("images/motion-animated-1.svg");
	background-position: 25% 55.7%;
	background-repeat: no-repeat;

}

/* ID */

.border5{

	position: absolute;
	left: 0%;
	top: 318.82%;
	width: 91.6%;
	height: 62%;
	right: auto;
	bottom: auto;

	border: 13px solid rgb(55, 104, 144);
	
	left: 1%;
}

.card5 {
	position: absolute;
	left: 0%;
	top: 24%;
	width: 92%;
	height: 48.4%;
	right: auto;
	bottom: auto;
	cursor: pointer;
	background-size: 180%;
	background-image: url("images/ID-animted2.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

