.content {
 position: relative;
 top: 50px;
}


div.gallery {
  border: 1px solid #ccc;
  transition: transform .2s; /* Animation */
}

/*div.gallery:hover {

  border: 0px solid #777;
  box-shadow: 0px 0px 18px 0px rgba(198,198,198,1);
  transform: scale(1.02) ;
}

*/

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0px;
  text-align: center;
}

/*

* {
  box-sizing: border-box;
} */

.responsive {
  padding: 1% 1% 1% 6%;
  float: left;
  width: 24.99999%;
  min-height: 400px;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

clearfix:after {
  content: "";
  display: table;
  clear: both;
}
video {
  width: 100%;
}
/* Lazyload */
img.lazyload {
  opacity: 0;
  background-color: #FFFFFF;
  background-image: url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
}

img.lazyloading {
  opacity: 1;
  background-color: #FFFFFF;
  background-image: url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s opacity;
}

img.lazyloaded {
  opacity: 1;
  background-color: transparent;
}