.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.box {
  margin: 0 auto;
  height: 400px;
  position: relative;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.4s cubic-bezier(0.67, 1.15, 0.8, 1.1);
}
.box .layers {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.box .layer1 {
  z-index: 9999;
  transform: translateZ(100px) scale(0.80);
}
.box .layer2 {
  z-index: 9999;
  transform: translateZ(100px) scale(0.80);
}

@media ( max-width: 2560px) {
  .box {
    margin-top: 1%;
  }
}


@media (max-width: 1550px) {
  .box {
    margin-top : 1%;
  }
}